body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  background-color: #eee;
  margin: 0 auto;
  padding: 20px;
  width: 400px;
}

.list {
  padding: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form {
  display: flex;
}

.input {
  flex-grow: 1;
}
